<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWT Validation</title>
</head>

<body>
    <nav>
        <!-- <a href="/">Home</a>
        <a href="/about-us">About us</a>
        <a href="/contact-us">Contact us</a> -->
    </nav>
    <main>
        <h2>Validate your JWT</h2>
        <button id="post-btn">Enter your code</button>
    </main>
    <script>
        /*
        JWT
        CPR
        {
            "cpr":"1",
            "iat":1000, //issue at
            "exp":1600
        }
        */
        var today = new Date();
        var time = Date.parse(today.getHours() + today.getMinutes() + today.getSeconds());
        const cpr = "12345"
        let iat = time
        let exp = iat + 600
        let jwt = { "cpr": cpr, "iat": iat, "exp": exp }
        const button = document.getElementById('post-btn');
        button.addEventListener('click', async _ => {
            try {
                const response = await fetch('/jwt', {
                    method: 'post',
                    body: 
                        JSON.stringify(jwt)
                    
                }).then(res => window.location.href = res.url);
                
            } catch (err) {
                console.error(`Error: ${err}`);
            }
        });
        // function sendJwt() {
        //     fetch('/jwt', {
        //         method: 'POST',
        //         headers: {
        //             'Accept': 'application/json, text/plain, */*',
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify(jwt)
        //     }).then(res => window.location.href = res.url);
        // }

    </script>
</body>

</html>