<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    
    <main>
        <div class="container text-center" style="text-align: center; margin:30rem auto auto auto; border: 0.5rem; width: 20%; border: 5px solid #4683e4;
        border-radius: 10px;">
            <h1>Welcome to ESB</h1>
            <h1>Token for messages: {{token}}</h1>

        </div>


    </main>

</body>
</html>

